<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add key="core.frequencyDialZoom" value="0.78" />
	<add key="core.showExtendedRadioSettings" value="false" />
	<add key="core.pluginsDirectory" value="Plugins" />
	<add key="core.dumpAllPluginErrors" value="false" />
	<add key="core.disableLazyLoading" value="false" />
	<add key="core.iqBalancer.buffersToSkip" value="1" />
	<add key="core.iqBalancer.fftIntegration" value="4" />
	<add key="core.iqBalancer.fftOverlap" value="2" />
	<add key="core.iqBalancer.correlationIntegration" value="16" />
	<add key="core.minReducedNarrowBandwidth" value="9000" />
	<add key="core.minReducedWideBandwidth" value="120000" />
	<add key="core.optimizeStreamingForLatency" value="false" />
	<add key="core.iqBuffers" value="8" />
	<add key="core.audioBuffers" value="2" />
	<add key="core.useAntiAliasedDisplay" value="true" />
	<add key="core.pllPhaseAdjM" value="0.0" />
	<add key="core.pllPhaseAdjB" value="-1.75" />
	<add key="core.rdsUseFEC" value="True" />
	<add key="core.deemphasisTime" value="50" />
	<add key="core.refreshFPS" value="30" />
	<add key="core.spyserver.disableAutoScaling" value="false" />
	<add key="core.stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
	<add key="core.filePlayer.bufferSize" value="32768" />
	<add key="core.rtlBufferLength" value="32768" />
	<add key="core.softrockFrequencyMultiplier" value="4" />
	<add key="core.funcubeFrequencyCorrection" value="-21.0" />
	<add key="core.sdriqReadBlockCount" value="1" />
	<add key="core.sdriqOutFifoBlockCount" value="0" />
	<add key="core.usrpSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0"/>
	<add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
	<add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
	<add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
	<add key="spectrumAnalyzer.peakColor" value="FFFF00" />
	<add key="spectrumAnalyzer.fillColor" value="1E90FF" />
	<add key="spectrumAnalyzer.attack" value="0.7" />
	<add key="spectrumAnalyzer.decay" value="0.5" />
	<add key="waterfall.Attack" value="0.95" />
	<add key="waterfall.decay" value="0.80" />
	<add key="waterfall.useUtcTimeStamp" value="False" />
	<add key="waterfall.gradient" value="0" />
	<add key="theme" value="FluentDark" />
	<add key="iqSource" value="0" />
	<add key="detectorType" value="1" />
	<add key="fftSpeed" value="23" />
	<add key="fftContrast" value="0" />
	<add key="fftDisplayOffset" value="2" />
	<add key="fftDisplayRange" value="11" />
	<add key="spectrumStyle" value="3" />
	<add key="useTimeMarkers" value="false" />
	<add key="centerFrequency" value="103000000" />
	<add key="vfo" value="103000000" />
	<add key="spectrumWidth" value="10000000" />
	<add key="agcEnabled" value="True" />
	<add key="agcThreshold" value="-50" />
	<add key="agcDecay" value="500" />
	<add key="agcHang" value="False" />
	<add key="latency" value="50" />
	<add key="filterAudio" value="True" />
	<add key="airspy.debug" value="0" />
	<add key="airspy.vga" value="6" />
	<add key="airspy.mixerAgc" value="False" />
	<add key="airspy.mixer" value="6" />
	<add key="airspy.lnaAgc" value="False" />
	<add key="airspy.lna" value="1" />
	<add key="airspy.sampleRate" value="0" />
	<add key="airspy.decimation" value="0" />
	<add key="airspy.trackingFilterEnabled" value="True" />
	<add key="airspy.biasTeeEnabled" value="False" />
	<add key="airspy.spyVerterEnabled" value="True" />
	<add key="airspy.spyVerterPPM" value="0" />
	<add key="airspy.usePacking" value="False" />
	<add key="airspy.aliasFreeRatio" value="0.8" />
	<add key="airspy.useRealSampling" value="0" />
	<add key="airspyhf.debug" value="0" />
	<add key="airspyhf.libdsp" value="1" />
	<add key="airspyhf.sampleRate" value="768000" />
	<add key="airspyhf.iqBalancer.buffersToSkip" value="2" />
	<add key="airspyhf.iqBalancer.fftIntegration" value="4" />
	<add key="airspyhf.iqBalancer.fftOverlap" value="2" />
	<add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
	<add key="airspyhf.aliasFreeRatio" value="0.8" />
	<add key="airspyhf.useNativeDecimation" value="0" />
	<add key="plugin.bandplan.database" value=".\BandPlan.xml" />
	<add key="plugin.bandPlan.saveOnClose" value="true" />
	<add key="plugin.bandPlan.updateDatabase" value="true" />
	<add key="plugin.frequencymanager.database" value=".\Frequencies.xml" />
	<add key="plugin.fft.af.offet" value="0" />
	<add key="plugin.fft.af.range" value="100" />
	<add key="plugin.fft.mpx.offset" value="0" />
	<add key="plugin.fft.mpx.range" value="100" />
	<add key="zoomPosition" value="1" />
	<add key="displayBeforeFilter" value="false" />
</configuration>